/SolucaoExe04ListaPreliminar/build/
/SolucaoExe05ListaPreliminar/build/
/SolucaoExe06ListaPreliminar/build/
/SolucaoExe07ListaPreliminar/build/
/SolucaoExe08ListaPreliminar/build/
/SolucaoExe09ListaPreliminar/build/
/SolucaoExe10ListaPreliminar/build/
/SolucaoExe12ListaPreliminar/build/
/SolucaoExe13ListaPreliminar/build/
